package templates

import "github.com/andreabertanzon/simtek/data"

templ InterventionContainer(interventions []data.Intervention) {
	<div
		class="flex flex-col w-full cursor-pointer"
	>
		for _, intervention := range interventions {
			@InterventionCard(intervention)
		}
	</div>
}
