# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/node_modules
/pnpm-lock.yaml
/.svelte-kit
/src/.DS_Store